<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 10%">
            <div id="form1">
                <a href="/zakuwanie">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony Zakuwanie przewodów
                </a>
                <h1 class="login">Edytuj powód dlaczego serwis hamulcowych jest tak ważny</h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>
                <form action="/zakuwanie/<%= zakuwanie._id %>/whySoImportant/<%= whySoImportant._id %>?_method=PUT"
                    method="post">

                    <p class="username">Edytuj opis powodu</p>
                    <textarea name="whySoImportant[description]" id="description" class="form-control"
                        placeholder="Powód dlaczego serwis przewodów hamulcowych jest tak ważny"><%= whySoImportant.description %></textarea>
                    <br>

                    <input type="submit" value="Edytuj powód" class="btn btn-warning button btn-gradient">
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>