<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 6%">
            <div id="form1">
                <a href="/news/<%= news.more %>">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony aktualności <%= news.title %>
                </a>
                <h1 class="login">Edytuj podpost <%= underpost.title %></h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>

                <form action="/news/<%= news._id %>/underposts/<%= underpost._id %>?_method=PUT" method="post">

                    <p class="username">Edytuj tytuł podposta</p>
                    <input type="text" name="underpost[title]" value="<%= underpost.title %>"
                        placeholder="Tytuł podposta" class="form-control">
                    <br>
                    <p class="username">Edytuj opis podposta</p>
                    <textarea class="form-control" name="underpost[opis]" id="description"
                        placeholder="Opis podposta"><%= underpost.opis %></textarea>
                    <br>

                    
                    <input type="submit" class="btn btn-warning button btn-gradient" value="Edytuj podpost">
                </form>
                
            </div>
        </div>
    </div>
</div>
</body>
</html>