<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 2%">
            <div id="form1">
                <a href="/news/<%= news.more %>">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony aktualności <%= news.title %>
                </a>
                <h1 class="login">Dodaj podpost do aktualności <%= news.title %></h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>

                <form action="/news/<%= news._id %>/underposts" method="post" enctype="multipart/form-data">

                    <p class="username">Wpisz tytuł podposta</p>
                    <input type="text" name="title" placeholder="Tytuł podposta" class="form-control">
                    <br>
                    <p class="username">Wpisz opis podposta</p>
                    <textarea class="form-control" name="description" id="description"
                        placeholder="Opis podposta"></textarea>
                    <br>
                    <p class="username">Zdjęcie główne</p>
                    <input type="file" name="profile" style="color: white">
                    <br>
                    <br>
                    <input type="submit" class="btn btn-warning button btn-gradient" value="Dodaj podposta">
                </form>
               
            </div>
        </div>
    </div>
</div>
</body>
</html>