<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 10%">
            <div id="form1">
                <a href="/zakuwanie">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony Zakuwanie przewodów
                </a>
                <h1 class="login">Edytuj podstronę <%= zakuwanie.title %></h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>

                <form action="/zakuwanie/<%= zakuwanie._id %>?_method=PUT" method="post">
                    <p class="username">Edytuj tytuł podstrony</p>
                    <input type="text" name="zakuwanie[title]" value="<%= zakuwanie.title %>"
                        placeholder="Tytuł podstrony" class="form-control">
                    <br>
                    <p class="username">Edytuj opis co oferujemy</p>
                    <textarea class="form-control" name="zakuwanie[offer]" id="description"
                        placeholder="Opis co oferujemy"><%= zakuwanie.offer %></textarea>
                    <br>

                    <input type="submit" class="btn btn-warning button btn-gradient" value="Edytuj podstronę">
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>