<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 10%">
            <div id="form1">
                <a href="/news/<%= news.more %>">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony aktualności <%= news.title %>
                </a>
                <h1 class="login">Edytuj zdjęcie głowne aktualności <%= news.title %></h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>
                <form action="/news/<%= news._id %>/edit/picture" method="post" enctype="multipart/form-data">

                    <p class="username">Wybierz zdjęcie</p>
                    <input type="file" name="picture" style="color: white">
                    <br>
                    <br>
                    <input type="submit" class="btn btn-warning button btn-gradient" value="Edytuj zdjęcie do newsa">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>