<% include ../partials/header %>
<br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                    <h1 class="info text-center">Aktualności</h1>
				<br>
				<form action="/news/search" method="get">
					<div class="input-group mb-3">
						<input type="search" id="news" class="form-control" name="title" placeholder="Wpisz tytuł aktualności" aria-label="Wpisz tytuł aktualności" aria-describedby="basic-addon2">
						<div class="input-group-append">
							<button class="btn btn-warning" type="submit" style="border:none; background:none;border-bottom: 1px solid #FBFA04; color: #FBFA04"><i class="fas fa-search"></i></button>
						</div>
					</div>
				</form>
            </div>
		
			
		</div>
            
               
                            <% if(news.length===0){ %>
                                <div class="row">
                                    <div class="col-lg-12">
                                            <p class="neutral text-center">Nie mamy nowinek</p>
                                    </div>
                                </div>
                               
                               
                            <% } else { %>
								<div class="row">
									<% for(let i=news.length-1;i>=0;i--){ %>
										<div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 8px">
											<div class="card" style="border: #1a1a1a;background-color: #1a1a1a">
												
												<% if(typeof news[i].profile !== 'undefined'){ %>
													<img src="<%= news[i].profile %>" alt="<%= news[i].title %> zdjęcie główne" class="card-img-top">
												<% } %>
												<br>
													<div class="card-title info text-center">
															<a href="/news/<%= news[i].more %>" style="color:#FBFA04"><%= news[i].title %></a> 
														</div>
												<div class="card-body" style="background-color: #1a1a1a">
														<p class="neutral"><%- news[i].opis %></p>
														<% if(news[i].opis.length>200){ %>
															<a href="/news/<%= news[i].more %>" class="form">Czytaj więcej...</a>
														<% } %>
												</div>
											</div>
										</div>
									<% } %>
								</div>
                            <% } %>
               
                   
            </div>
           
            
        	<script>
					$("#news").on('click', function(){
						$("#news").css({
							"background": "none",
							"color": "#FBFA04"
						});
					});
				</script>

<% include ../partials/footer %>